.navbar {
  background: #6a1b9a;
  height: 60px;
}

.navbar a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

.navbar li {
  display: inline-block;
  width: 33.3%;
}